










.terminar {
  background-color: #c3b4f3;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.char-bar__fill {
  background-color: #4826b9;
  width: 100%;
  transition: all 0.3 ease-out;
}

.char-bar__label {
  font-weight: bold;
  font-size: 0.5rem;
  text-align: center;
}
